.registration-form {
  input,
  select {
    // width: 100%;
    display: block;
    border: none;
    border-bottom: 2px solid #ebebeb;
    padding: 5px 0;
    color: #222;
  }
  input:focus,
  select:focus {
    color: #222;
    border-bottom: 2px solid #4966b1;
  }
  .form-group {
    margin-top: 4rem;
  }
}

.registration-form {
  input,
  select,
  textarea {
    outline: none !important;
    font-family: "SF Pro Rounded";
    font-weight: lighter;
  }

  input:focus,
  select:focus,
  textarea:focus {
    outline: none !important;
  }
}

.registration-form {
  label {
    font-size: 1.5rem;
  }
  a {
    color: inherit;
  }
}
.reg-form__heading {
  max-width: 40rem;
  text-align: center;
  padding: 1rem;
}

.reg-form__text {
  opacity: 0.7;
  font-size: 1.4rem;
}

.btn-submit {
  margin-top: 1.4rem;
  font-size: 1.2rem;
  padding: 1rem 2.5rem;
  color: #ffffff;
  background: #4db0e7;
  border-radius: 4px;
}

.btn-submit:hover {
  color: #ffffff;
  opacity: 0.8;
}
