.header {
  width: 100%;
  padding: 0;
  top: 0;
  margin-top: 3rem;
  z-index: 100;
  display: flex;
  justify-content: space-between;
}

.header-logo {
  margin: 1rem;
  a {
    padding-left: 5rem;
    font-size: 2.5rem;
    color: inherit;
    font-style: normal;
    font-weight: 800;
    line-height: 139.04%;
  }
  a:hover {
    text-decoration: none;
  }
}

.header-links {
  display: flex;
  justify-content: space-between;
  margin-right: 15rem;
  min-width: 30rem;
}
.header-links__btn {
  z-index: 10;
}
.nav-toggle {
  padding: 1rem 1rem 0;
}
@media only screen and (max-width: 768px) {
  .header {
    margin: 0.8rem 0 0 0;
  }
  .header-logo {
    padding-left: 1.6rem;
    padding-top: 1rem;
    a {
      padding-left: 0;
      font-size: 1.8rem;
      color: inherit;
    }
  }
  .header-links {
    display: none;
  }
}
@media (min-width: 769px) {
  .nav-toggle {
    display: none;
  }
  .headerTextBox {
    padding: 0.1rem 2rem;
  }
}
