.sidebar {
  height: 100%;
  background-color: #fff;
  box-shadow: 0rem 0.2rem 0.5rem 0rem rgba(176, 176, 176, 1);
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  max-width: 36rem;
  z-index: 300;
  transform: translateX(100%);
  transition: transform 0.2s ease-out;
}

.sidebar.open {
  transform: translateX(0);
}

.sidebar__header {
  width: 100%;
  float: left;
  padding-left: 2rem;
  padding-right: 2rem;
}

.sidebar__icon {
  padding: 1.5rem;
  float: right;
  border: none;
  background: transparent;
}
.sidebar__icon:active {
  transform: rotateX("30deg");
}
.sidebar__body {
  margin-top: 5rem;
  padding: 0 2rem 2rem 2rem;
  padding-bottom: 15rem;
}

.sidebar__body ul {
  list-style: none;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.sidebar__body ul li {
  display: block;
  position: relative;
  float: left;
  width: 100%;
}

.sidebar__body a {
  padding: 1rem 0rem;
  display: block;
  font-size: 2rem;
  position: relative;
  color: #212529;
  text-decoration: none;
}
.sidebar a:hover,
.sidebar a:active {
  color: #4db0e7;
  text-decoration: none;
}
